* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(235, 235, 235);
}

#main-header { 
    text-decoration-line: underline;
    margin-bottom: 50px;
}

.secondary-header {
    font-size: 32px;
    margin-top: 50px;
}

.recipe-item {
    font-size: 18px;
    text-decoration: none;
    list-style: decimal;
    margin-bottom: 50px;
}